li {
    background-color: steelblue;
    height: 80px;
    width: 80px;
    list-style: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul1 {
    margin: 1em auto;
    max-width: 400px;
    width: 90%;
    height: 15rem;
    padding: 0;
    background-color: midnightblue;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    align-content: center;
}

.ul2 {
    margin: auto;
    max-width: 400px;
    width: 90%;
    height: 15rem;
    padding: 0;
    background-color: midnightblue;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-content: space-between;
}
