body
{
}
table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding:20px 15px 10px 10px;
			text-align:center;
            
		}
        #abajo {
            padding-top: 34px;
            text-align: center;
        }
        		       
        .par:first-of-type >td{
            background-color: yellow;

        }
		.par > td{
			background-color:navajowhite;
		}
		tbody >tr> th{
			background-color:powderblue;
		}
		.euro{
			background-image:url('euro.png');
			background-position: top left;
			background-repeat:no-repeat;

		}
        .dolar {
            background-image: url('dolar.png');
            background-position: top left;
            background-repeat: no-repeat;
        }
        .libra {
            background-image: url('libra.png');
            background-position: top left;
            background-repeat: no-repeat;
        }
        .yen {
            background-image: url('yen.png');
            background-position: top left;
            background-repeat: no-repeat;
        }
        .cabecera {
            background-image: url('fondo_gris.gif');
            background-position: top;
            background-repeat: no-repeat;
        }
